body {
    font-family: Arial,  sans-serif; /* Familia de fuentes */
    font-size: 20px; /* El tamaño de la fuente principal en el tag <p></p> */
    background-color: #5988FF; /* El color del fondo de la página web */
    color: #FD98FB; /* El color del texto*/ 
    border: #FFFFFF;
    text-decoration-color:aqua
}
h1 {
    color: #055305; /* El color de la cabecera */
    font-size: 30px; /* El tamaño de la fuente de la cabecera */
    font-family: Georgia, serif; /* La familia tipográfica utilizada en la cabecera */
}

@keyframes color-change {
    0% {
      color: blue;
    }
  
    50% {
      color: red;
    }
  
    100% {
      color: blue;
    }
}

h1:hover {
    animation: color-change 3s infinite;
}


